name: Deploy Users API

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - uses: aws-actions/amazon-ecr-login@v2

    - run: |
        docker build -t fcg-users .
        docker tag fcg-users:latest ${{ secrets.ECR_USERS_REPO }}:latest
        docker push ${{ secrets.ECR_USERS_REPO }}:latest
